:root {
    --primary: #0d6efd;
    --secondary: #FFF0E6;
    --light: #F8F8F9;
    --dark: #0d6efd;
    
}
/*** Spinner Start ***/
/*** Spinner ***/
#spinner {
    opacity: 0;
    visibility: hidden;
    transition: opacity .5s ease-out, visibility 0s linear .5s;
    z-index: 99999;
}

#spinner.show {
    transition: opacity .5s ease-out, visibility 0s linear 0s;
    visibility: visible;
    opacity: 1;
}
/*** Spinner End ***/ 

.back-to-top {
    position: fixed;
    right: 30px;
    bottom: 30px;
    transition: 0.5s;
    z-index: 99;
}

/*** Button Start ***/
.btn {
    font-weight: 600;
    transition: .5s;
}

.btn-square {
    width: 32px;
    height: 32px;
}

.btn-sm-square {
    width: 34px;
    height: 34px;
}

.btn-md-square {
    width: 44px;
    height: 44px;
}

.btn-lg-square {
    width: 56px;
    height: 56px;
}

.btn-xl-square {
    width: 66px;
    height: 66px;
}

.btn-square,
.btn-sm-square,
.btn-md-square,
.btn-lg-square,
.btn-xl-square {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
}

.btn.btn-primary {
    border: none;
}

.btn.btn-primary:hover {
    background: var(--bs-secondary);
}

.btn.btn-secondary {
    color: var(--bs-white);
    border: none;
   
}

.btn.btn-secondary:hover {
    background: var(--bs-primary);
}
/*** Topbar Start ***/
.topbar {
    padding: 2px 10px 2px 20px;
    background: var(--bs-primary);
}
/*** Topbar End ***/

/*** Navbar ***/
.sticky-top {
    transition: 1s;
}

.navbar .navbar-nav .nav-item.nav-link,
.navbar .navbar-nav .nav-link {
    color: var(--bs-dark);
}

.navbar .navbar-nav .nav-link {
    position: relative;
    padding: 10px;
    font-weight: 400;
    font-family: "Playfair Display", serif;
    font-size: 17px;
    transition: .5s;
    z-index: 99;
}

.navbar .navbar-nav .nav-item {
    margin: 0 5px;
}

.navbar .navbar-nav .nav-item::before,
.navbar .navbar-nav .nav-item::after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    border: 2px solid var(--bs-secondary);
    opacity: 0;
    transition: 0.5s;
    z-index: 2 !important;
}

.navbar .navbar-nav .nav-item::before {
    top: 0;
    left: 0;
    border-bottom: 0;
    border-right: 0;
}
.navbar .navbar-nav .nav-item::after {
    bottom: 0;
    right: 0;
    border-top: 0;
    border-left: 0;
}

.navbar .navbar-nav .nav-item:hover::after,
.navbar .navbar-nav .nav-item:hover::before,
.navbar .navbar-nav .nav-item.active::after,
.navbar .navbar-nav .nav-item.active::before {
    width: 50%;
    height: 50%;
    opacity: 1;
}

.navbar .navbar-nav .nav-link:hover,
.navbar .navbar-nav .nav-link.active,
.sticky-top .navbar .navbar-nav .nav-link:hover,
.sticky-top .navbar .navbar-nav .nav-link.active {
    color: var(--bs-secondary) !important;
}

.navbar .dropdown-toggle::after {
    border: none;
    content: "\f107" !important;
    font-family: "Font Awesome 5 Free";
    font-weight: 600;
    vertical-align: middle;
}

.navbar .navbar-toggler {
    padding: 8px 15px;
    color: var(--bs-dark);
    background: var(--bs-secondary);
}

.nav-bar .navbar-toggler { 
    color: var(--bs-dark);
    box-shadow: none !important;
}

.navbar .nav-item:hover .dropdown-menu {
    transform: rotateX(0deg);
    visibility: visible;
    background: var(--bs-light);
    transition: .5s;
    opacity: 1;
}

.navbar .nav-item .dropdown-menu {
    background: var(--bs-light);
    transition: 0.5s;
}

.navbar .nav-item .dropdown-menu .dropdown-item {
    transition: 0.5s;
}

.dropdown .dropdown-menu .dropdown-item:hover,
.dropdown .dropdown-menu .dropdown-item.active {
    background: var(--bs-secondary);
    color: var(--bs-white);
}

@media (min-width: 992px) {
    .navbar .nav-item .dropdown-menu {
        display: block;
        visibility: hidden;
        top: 100%;
        margin-top: 15% !important;
        transform: rotateX(-75deg);
        transform-origin: 0 0;
        border: 0;
        transition: .5s;
        opacity: 0;
        z-index: 9;
    }
}

@media (max-width: 991px) {
    .navbar .nav-item .dropdown-menu {
        position: relative;
        margin-top: 0;
        transition: 0.5s;
    }

    .navbar .navbar-nav .nav-item::after,
    .navbar .navbar-nav .nav-item::before {
        display: none;
    }

    .navbar .navbar-nav .nav-item:hover::after,
    .navbar .navbar-nav .nav-item:hover::before,
    .navbar .navbar-nav .nav-item.active::after,
    .navbar .navbar-nav .nav-item.active::before {
        display: none;

    }

    .navbar .navbar-nav .nav-link {
        padding: 12px 0;
    }

    .navbar .navbar-nav .nav-item {
        margin: 0;
    }

    .navbar .navbar-nav .nav-item.nav-link {
        padding: 12px 0;
    }
}

#searchModal .modal-content {
    background: rgba(255, 255, 255, .6);
}
/*** Navbar End ***/

/*** Single Page Hero Header Start ***/
.bg-breadcrumb {
    position: relative;
    overflow: hidden;
    background: linear-gradient(rgba(0, 18, 72, 0.7), rgba(0, 18, 72, 0.7)), url(../img/carousel-2.JPG);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 60px 0 60px 0;
}

.bg-breadcrumb .breadcrumb {
    position: relative;
}

.bg-breadcrumb .breadcrumb .breadcrumb-item a {
    color: var(--bs-white);
}
/*** Single Page Hero Header End ***/

/*** Carousel Start ***/
.carousel .carousel-inner .carousel-item {
    position: relative;
    overflow: hidden;
    height: 100vh;
}

.carousel .carousel-inner .carousel-item img {
    animation-name: image-zoom ;
    animation-duration: 10s;
    animation-delay: 1s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    transition: 0.5s;
}

@keyframes image-zoom {
    0%  {width: 100%; height: 100%; -webkit-filter: blur(0px); opacity: 1;}

    25% {width: 115%; height: 115%; -webkit-filter: blur(3px); opacity: 0.9;}

    50% {width: 130%; height: 130%; -webkit-filter: blur(10px); opacity: 0.7;}

    75% {width: 115%; height: 115%; -webkit-filter: blur(3px); opacity: 0.9;}

    100% {width: 100%; height: 100%; -webkit-filter: blur(0px); opacity: 1;}
}

@media (min-width: 992px) {
    .carousel .carousel-inner .carousel-item img {
        height: 100%;
        object-fit: cover;   
    }
}

@media (max-width: 991px) {
    .carousel .carousel-inner .carousel-item {
        height: 700px;
    }
    .carousel .carousel-inner .carousel-item img {
        height: 700px;
        object-fit: cover;    
    }
}

@media (max-width: 576px) {
    .carousel-item .carousel-caption h1 {
        font-size: 36px;
    }

    .carousel-item .carousel-caption p.fs-5 {
        font-size: 15px;
    }
}

.carousel .carousel-inner .carousel-item::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .5);
    z-index: 1;
}

.carousel .carousel-inner .carousel-item .carousel-caption {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 2;
}

.carousel .carousel-indicators {
    margin-bottom: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent !important;
    z-index: 5;
}

.carousel .carousel-indicators li,
.carousel .carousel-indicators li,
.carousel .carousel-indicators li {
    margin-right: 30px !important;
    width: 10px;
    height: 10px;
    border: 6px solid var(--bs-secondary);
    background: var(--bs-white);
    transition: 0.5s;
}

.carousel .carousel-indicators li.active {
    border: 10px solid var(--bs-primary);
}

.carousel .carousel-control-prev,
.carousel .carousel-control-next {
    background: transparent;
}

.carousel .carousel-control-prev .carousel-control-prev-icon {
    position: absolute;
    left: 0;
    padding: 25px 30px;
    background: var(--bs-primary);

}

.carousel .carousel-control-next .carousel-control-next-icon {
    position: absolute;
    right: 0;
    padding: 25px 30px;
    background: var(--bs-primary);

}

.carousel .carousel-control-prev .carousel-control-prev-icon:hover,
.carousel .carousel-control-next .carousel-control-next-icon:hover {
    background: var(--bs-secondary);
    color: var(--bs-white);
}
/*** Carousel End ***/




.about-container{
    margin-top: 50px;
    margin-bottom: 50px;
}




/*** this about is for the about page  ***/
.about .about-item .about-item-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 10px;
    background: var(--bs-light);
    transition: 0.5s;
}

.about .about-item .about-item-inner .about-icon {
    width: 90px; 
    height: 90px; 
    border-radius: 67% 33% 29% 71% / 39% 46% 54% 61%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--bs-secondary);
    background: var(--bs-primary);
    animation-name: icon-animat;
    animation-duration: 5s;
    animation-delay: 1s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    transition: 0.5s;
}

.about .about-img {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
    
}

.about .about-img .img-1 {
    height: 85%;
    margin-right: 50px;
}

.about .about-img .img-2 {
    position: absolute;
    width: 100%; 
    bottom: 0; 
    right: 0;
    padding-left: 50px;
    border-radius: 10px;
}

.about .about-img::after {
    content: "";
    position: absolute;
    width: 10px;
    height: 98%;
    top: 0;
    right: 0;
    border-radius: 10px;
    background: var(--bs-primary);
    z-index: -1;
}

.about .about-item .text-item {
    position: relative;
    padding-left: 25px;
}

.about .about-item .text-item::after {
    content: "";
    position: absolute;
    width: 5px;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: 10px;
    background: var(--bs-secondary);
}
/*** About End ***/









/*** Appointment ***/
.bootstrap-datetimepicker-widget.bottom {
    top: auto !important;
}

.bootstrap-datetimepicker-widget .table * {
    border-bottom-width: 0px;
}

.bootstrap-datetimepicker-widget .table th {
    font-weight: 500;
}

.bootstrap-datetimepicker-widget.dropdown-menu {
    padding: 10px;
    border-radius: 2px;
}

.bootstrap-datetimepicker-widget table td.active,
.bootstrap-datetimepicker-widget table td.active:hover {
    background: var(--primary);
}

.bootstrap-datetimepicker-widget table td.today::before {
    border-bottom-color: var(--primary);
}


/*** Features Start ***/
.feature {
    background: var(--bs-light);
}

.feature .feature-item {
    display: flex;
    border-radius: 10px;
}

.feature .feature-item .feature-icon span {
    width: 90px; 
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--bs-secondary);
    background: var(--bs-primary);
    border-radius: 67% 33% 29% 71% / 39% 46% 54% 61%;;
    animation-name: icon-animat;
    animation-duration: 5s;
    animation-delay: 1s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    transition: 0.5s;
}

/*** Features End ***/



/*** Process Start ***/
.steps {
    background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)), url(../img/carousel-1.JPG);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.steps-container{
    margin-top: 50px;
}

.steps .steps-item {
    position: relative;
    background: var(--bs-secondary);
    border-radius: 10px;
}

.steps .steps-item h4,
.steps .steps-item p {
    color: var(--bs-white);
}

.steps .steps-item .setps-number {
    position: absolute;
    width: 64px;
    height: 64px;
    bottom: 0; 
    right: 40px;
    font-weight: 900;
    border: 1px solid var(--bs-white); 
    border-radius: 64px;
    transform: translateY(50%);
    color: var(--bs-white);
    background: var(--bs-secondary);
    display: flex;
    align-items: center;
    justify-content: center;
}
/*** Process End ***/








/*** Service ***/
.service-item {
    box-shadow: 0 0 45px rgba(0, 0, 0, .06);
}

/*** Service ***/

.service-container{
    margin-top: 75px;
    margin-bottom: 50px;
}


.service-item .bg-img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.service-item .service-text {
    background: var(--white);
    transition: .5s;
}

.service-text i{
    color: #0d6efd;
}

.service-item:hover .service-text {
    background: rgba(0, 0, 0, .7);
}

.service-item * {
    transition: .5;
}

.service-item:hover * {
    color: #FFFFFF;
}

.service-item .btn {
    width: 40px;
    height: 40px;
    display: inline-flex;
    align-items: center;
    color: #000;
    background: #FFFFFF;
    white-space: nowrap;
    overflow: hidden;
    transition: .5s;
}

.service-item:hover .btn {
    width: 140px;
}








/*** Features Start ***/
.feature .feature-item {
    position: relative;
    transition: 0.5s;
}
.feature .feature-item:hover {
    background: var(--bs-white);
    border: 1px solid transparent;
    box-shadow: 0 0 45px rgba(0, 0, 0, .1);
}

.feature .feature-item:hover a {
    transition: 0.5s;
}

.feature .feature-item:hover a:hover {
    color: var(--bs-secondary);
}

.feature .feature-item .feature-img img {
    border: transparent;
    transition: 0.5s;
} 

.feature .feature-item:hover .feature-img img {
    border: 1px solid var(--bs-secondary);
}  
/*** Features End ***/






/*** Fact Counter Start ***/
.counter {
    background: linear-gradient(rgba(0, 12, 33, 0.9), rgba(31, 46, 78, 0.9)), url(../img/carousel-1.JPG);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.counter .counter-item .counter-item-icon {
    width: 90px; 
    height: 90px; 
    border-radius: 67% 33% 29% 71% / 39% 46% 54% 61%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--bs-secondary);
    background: var(--bs-primary);
    animation-name: icon-animat;
    animation-duration: 5s;
    animation-delay: 1s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    transition: 0.5s;
}

/*** Fact Counter End ***/




/*****  Add Testimonial section ***/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}

:root {
	--yellow: #FFBD13;
	--blue: #4383FF;
	--blue-d-1: #3278FF;
	--light: #F5F5F5;
	--grey: #AAA;
	--white: #FFF;
	--shadow: 8px 8px 30px rgba(0,0,0,.05);
}

.wrapper {
	background: var(--white);
    margin: auto;
	padding: 2rem;
	max-width: 576px;
	width: 100%;
	border-radius: .75rem;
	box-shadow: var(--shadow);
	text-align: center;
}
.wrapper h3 {
	font-size: 1.5rem;
	font-weight: 600;
	margin-bottom: 1rem;
}
.rating {
	display: flex;
	justify-content: center;
	align-items: center;
	grid-gap: .5rem;
	font-size: 2rem;
	color: var(--yellow);
	margin-bottom: 2rem;
}
.rating .star {
	cursor: pointer;
}
.rating .star.active {
	opacity: 0;
	animation: animate .5s calc(var(--i) * .1s) ease-in-out forwards;
}

@keyframes animate {
	0% {
		opacity: 0;
		transform: scale(1);
	}
	50% {
		opacity: 1;
		transform: scale(1.2);
	}
	100% {
		opacity: 1;
		transform: scale(1);
	}
}


.rating .star:hover {
	transform: scale(1.1);
}
textarea {
	width: 100%;
	background: var(--light);
	padding: 1rem;
	border-radius: .5rem;
	border: none;
	outline: none;
	resize: none;
	margin-bottom: .5rem;
}
.btn-group {
	display: flex;
	grid-gap: .5rem;
	align-items: center;
}
.btn-group .btn {
	padding: .75rem 1rem;
	border-radius: .5rem;
	border: none;
	outline: none;
	cursor: pointer;
	font-size: .875rem;
	font-weight: 500;
}
.btn-group .btn.submit {
	background: var(--blue);
	color: var(--white);
}
.btn-group .btn.submit:hover {
	background: var(--blue-d-1);
}
.btn-group .btn.cancel {
	background: var(--white);
	color: var(--blue);
}
.btn-group .btn.cancel:hover {
	background: var(--light);
}
/*****  Add Testimonial section ***/











/*-- This belongs to the portfolio  ---*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,600;0,700;1,400&display=swap');
*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    scroll-padding-top: 2rem;
    box-sizing: border-box;
}

/* root values */
:root{
    --container-color: #1a1e21;
    --second-color: #0d6efd; /*--rgba(77, 228, 255)--*/ 
    --text-color: #172317;
    --bg-color: #fff;
}

::selection{
    color: var(--bg-color);
    background: var(--second-color);
}

a{
    text-decoration: none;
}

li{
    list-style: none;
}

img{
    width: 100%;
}

section{
    padding: 3rem 0 2rem;
}

.p-container{
    max-width: 1068px;
    margin: auto;
    width: 100%;
}



.btn2{
    position: relative;
    display: inline-block;
    margin-top: 30px;
    padding: 10px 30px;
    background: #fff;
    border: .8px solid #111;
    color: #333;
    text-decoration: none;
    transition: 0.5s;
}

.btn2:hover{
    background-color: var(--second-color);
    border: none;
    color: #fff;
}

.post-filter{
    display: flex;
    margin-bottom: 20px;
    justify-content: center;
    align-items: center;
    column-gap: 1.5rem;
    margin-top: 2rem !important;
}

.filter-item{
    font-size: 0.9rem;
    font-weight: 500;
    cursor: pointer;
}

.active-filter{
    background: var(--second-color);
    color: var(--bg-color);
    padding: 4px 10px;
    border-radius: 4px;
}

.post{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, auto));
    justify-content: center;
    gap: 1.5rem;
}

.post-box{
    background: var(--bg-color);
    box-shadow: 0 4px 14px hsl(35deg 25% 15% / 10%);
    padding: 15px;
    border-radius: 0.5rem;
}

.post-img{
    width: 100%;
    height: 200px;
    margin-bottom: 20px;
    object-fit: cover;
    object-position: center;
    border-radius: 0.5rem;
}

.category{
    font-size: 0.9rem;
    font-weight: 500;
    text-transform: uppercase;
    color: var(--second-color);
}

.post-title{
    font-size: 1.3rem;
    font-weight: 600;
    color: var(--text-color);
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.post-date{
    display: flex;
    font-size: 0.875rem;
    text-transform: uppercase;
    margin-top: 4px;
    font-weight: 400;
}

.post-description{
    font-size: 0.9rem;
    line-height: 1.5rem;
    margin: 5px 0 10px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

@media (max-width: 1060px){
    .container{
        margin: 0 auto;
        width: 95%;
    }

    .home-text{
        width: 100%
    }
}

@media (max-width: 768px){

    .btn2{
        margin-bottom: 30px;
    }

    .post-header{
        height: 435px;
    }

    .post-header{
        margin-top: 9rem !important;
    }
}

@media (max-width: 570px){
    .post-header{
        height: 390px;
    }

}

@media (max-width: 396px){

    .post-box{
        padding: 10px;
    }


    .post-header{
        height: 335px;
    }

}









/*** Team Start ***/
.team .team-item {
    position: relative;
    z-index: 1;
}

.team .team-item .team-img {
    position: relative;
    overflow: hidden;
}

.team .team-item .team-img::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 0;
    top: 0;
    left: 0;
    background: rgba(255, 255, 255, .2);
    transition: 0.5s;
    z-index: 2;

}

.team .team-item:hover .team-img::after {
    height: 100%;
}

.team .team-item .team-img .team-icon {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    transform: scale(-1);
    margin-bottom: 100%;
    background: transparent;
    transition: 0.5s;
    opacity: 0;
    z-index: 5;
    
}

.team .team-item:hover .team-img .team-icon {
    transform: scale(1);
    margin-bottom: 0;
    opacity: 1;
}

.team .team-item .team-border-style-1,
.team .team-item .team-border-style-2 {
    width: 50%;
    height: 50%;
    position: absolute;
    background: var(--bs-secondary);
    transition: 0.5s;
    z-index: -1;
}

.team .team-item .team-border-style-1 {
    top: 0;
    left: 0;
}

.team .team-item .team-border-style-2 {
    right: 0;
    bottom: 0;
}

.team .team-item .team-border-style-3,
.team .team-item .team-border-style-4 {
    width: 0;
    height: 0;
    position: absolute;
    background: var(--bs-secondary);
    transition: 0.5s;
    z-index: -1;
}

.team .team-item .team-border-style-3 {
    top: 0;
    right: 0;
}

.team .team-item .team-border-style-4 {
    left: 0;
    bottom: 0;
}

.team .team-item:hover .team-border-style-1,
.team .team-item:hover .team-border-style-2 {
    width: 0%;
    height: 0%;
}

.team .team-item:hover .team-border-style-3,
.team .team-item:hover .team-border-style-4 {
    width: 50%;
    height: 50%;
}
/*** Team End ***/

/*** Blog Start ***/
.blog .blog-item .blog-img {
    position: relative;
    overflow: hidden;
}

.blog .blog-item .blog-img img {
    transition: 0.5s;
}

.blog .blog-item:hover .blog-img img {
    transform: scale(1.2);
}

.blog .blog-item .blog-content {
    box-shadow: 0 0 45px rgba(0, 0, 0, .08);
}

.blog .blog-item .blog-content a {
    transition: 0.5s;
}

.blog .blog-item:hover .blog-content a:hover {
    color: var(--bs-secondary);
}
/*** Blog End ***/









/*** Testimonial for the main page ***/
.testimonial-carousel .owl-item img {
    width: 100px;
    height: 100px;
}

.testimonial-carousel .owl-nav {
    margin-top: 30px;
    display: flex;
    justify-content: start;
}

.testimonial-carousel .owl-nav .owl-prev,
.testimonial-carousel .owl-nav .owl-next {
    margin-right: 15px;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--dark);
    border: 2px solid var(--primary);
    border-radius: 50px;
    font-size: 18px;
    transition: .5s;
}

.testimonial-carousel .owl-nav .owl-prev:hover,
.testimonial-carousel .owl-nav .owl-next:hover {
    color: #FFFFFF;
    background: var(--primary);
}




/*** Testimonial for testimonial page ***
.testimonial-carousel .owl-item .testimonial-item {
    box-shadow: 0 0 45px rgba(0, 0, 0, .07);
    border: 1px solid transparent;
    transform: scale(.85);
    transition: .5s;
}

.testimonial-carousel .owl-item.center .testimonial-item {
    box-shadow: none;
    border-color: var(--primary);
    transform: scale(1);
}

.testimonial-carousel .owl-item .testimonial-item img {
    width: 50px;
    height: 50px;
}

.testimonial-carousel .owl-nav {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.testimonial-carousel .owl-nav .owl-prev,
.testimonial-carousel .owl-nav .owl-next {
    margin: 0 12px;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--primary);
    border: 1px solid var(--primary);
    border-radius: 45px;
    transition: .5s;
}

.testimonial-carousel .owl-nav .owl-prev:hover,
.testimonial-carousel .owl-nav .owl-next:hover {
    color: #FFFFFF;
    background: var(--primary);
}











/*** testimonial Start ***
.testimonial .owl-nav .owl-prev {
    position: absolute;
    top: -58px;
    right: 0;
    color: var(--bs-primary);
    padding: 5px 25px;
    border: 1px solid var(--bs-secondary);
    transition: 0.5s;
}

.testimonial .owl-nav .owl-prev:hover {
    background: var(--bs-secondary);
    color: var(--bs-white);
}

.testimonial .owl-nav .owl-next {
    position: absolute;
    top: -58px;
    right: 88px;
    color: var(--bs-primary);
    padding: 5px 25px;
    border: 1px solid var(--bs-secondary);
    transition: 0.5s;
}

.testimonial .owl-nav .owl-next:hover {
    background: var(--bs-secondary);
    color: var(--bs-white);
}

.testimonial-carousel .owl-dots {
    display: flex;
    justify-content: center;
    margin-left: 20px;
    margin-top: 20px;
}

.testimonial-carousel .owl-dots .owl-dot {
    width: 20px;
    height: 20px;
    margin-right: 15px;
    border: 1px solid var(--bs-secondary);
    background: var(--bs-primary);
    transition: 0.5s;
}

.testimonial-carousel .owl-dots .owl-dot.active {
    width: 20px;
    height: 20px;
    border: 1px solid var(--bs-primary);
    background: var(--bs-secondary) !important;
    transition: 0.5s;
}

.testimonial-carousel .owl-dots .owl-dot span {
    position: relative;
    margin-top: 50%;
    margin-left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.testimonial-carousel .owl-dots .owl-dot span::after {
    content: "";
    width: 8px;
    height: 8px;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: var(--bs-white);
}

@media (max-width: 992px) {
    .owl-carousel.testimonial-carousel {
        padding-top: 30px;
    }

    .testimonial .owl-nav .owl-prev,
    .testimonial .owl-nav .owl-next {
        top: -30px;
    }
}
/*** testimonial End ***/

/*** Contact Start ***/
.contact .contact-map {
    position: relative;
    overflow: hidden;
    padding: 20px;
    z-index: 1;
}

.contact .contact-map::before {
    content: "";
    width: 70%;
    height: 70%;
    position: absolute;
    left: 0;
    bottom: 0;
    background: var(--bs-primary);
    z-index: -1;
}

.contact .contact-map::after {
    content: "";
    width: 70%;
    height: 70%;
    position: absolute;
    top: 0;
    right: 0;
    background: var(--bs-secondary);
    z-index: -1;
}





/*******************************/
/********** Video CSS **********/
/*******************************/
.video {
    position: relative;
    margin: 45px 0;
    height: 100%;
    min-height: 500px;
    background: linear-gradient(rgba(3, 15, 39, .9), rgba(3, 15, 39, .9)), url(../img/carousel-1.JPG);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.video .btn-play {
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    box-sizing: content-box;
    display: block;
    width: 32px;
    height: 44px;
    border-radius: 50%;
    border: none;
    outline: none;
    padding: 18px 20px 18px 28px;
}

.video .btn-play:before {
    content: "";
    position: absolute;
    z-index: 0;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    display: block;
    width: 100px;
    height: 100px;
    background: var(--bs-secondary);
    border-radius: 50%;
    animation: pulse-border 1500ms ease-out infinite;
}

.video .btn-play:after {
    content: "";
    position: absolute;
    z-index: 1;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    display: block;
    width: 100px;
    height: 100px;
    background: var(--bs-secondary);
    border-radius: 50%;
    transition: all 200ms;
}

.video .btn-play:hover:after {
    background-color: darken(var(--bs-secondary), 10%);
}

.video .btn-play img {
    position: relative;
    z-index: 3;
    max-width: 100%;
    width: auto;
    height: auto;
}

.video .btn-play span {
    display: block;
    position: relative;
    z-index: 3;
    width: 0;
    height: 0;
    border-left: 32px solid #030f27;
    border-top: 22px solid transparent;
    border-bottom: 22px solid transparent;
}

@keyframes pulse-border {
  0% {
    transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
    opacity: 1;
  }
  100% {
    transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
    opacity: 0;
  }
}

#videoModal .modal-dialog {
    position: relative;
    max-width: 800px;
    margin: 60px auto 0 auto;
}

#videoModal .modal-body {
    position: relative;
    padding: 0px;
}

#videoModal .close {
    position: absolute;
    width: 30px;
    height: 30px;
    right: 0px;
    top: -30px;
    z-index: 999;
    font-size: 30px;
    font-weight: normal;
    color: #ffffff;
    background: #000000;
    opacity: 1;
}





/*---====== THIS STYLING BELONGS TO FAQ ========------*/
:root {
    --primary-color: hsl(36, 66%, 53%);
    --secondary-color: #655e5e;
    --background-color: #fff;
    --text-light: #000;
    --white: #fff;
    --max-width: 1200px;
  }
  
  .section__container {
    margin-top: 30px;
    margin-bottom: 30px;
    max-width: var(--max-width);
    margin: auto;
    padding: 5rem 1rem;
  }
  
  .section__subheader {
    margin-bottom: 0.5rem;
    font-size: 1.1rem;
    color: var(--secondary-color);
    text-align: center;
  }
  
  .section__header {
    font-size: 2.5rem;
    font-weight: 600;
    line-height: 3rem;
    text-align: center;
    background: Black;
    /*-- -webkit-background-clip: text; --*/
    -webkit-text-fill-color: transparent;
  }
  .question__accordian {
    background-color: #fff;
    max-width: 900px;
    margin: 4rem auto 0;
    display: grid;
    gap: 1.5rem;
    cursor: pointer;
  }
  
  
  .question__box {
    padding: 1rem;
    background-color: #eee;
    border-radius: 1rem;
    color: var(--text-light);
  }
  
  .question__box .title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    font-weight: 500;
    color: black;
  }
  
  .question__box .title .icon {
    padding: 5px 10px;
    font-size: 1.2rem;
    border-radius: 5px;
    background-color: hsl(36, 66%, 53%);
    cursor: pointer;
  }
  
  .question__box .content {
    height: 3px;
    transition: 0.5s;
    overflow: hidden;
    color: rgb(98, 93, 93);
  }
  
  .question__box.active .content {
    height: 100px;
    padding-top: 1rem;
  }
  
  @media (width < 900px) {
    
  
    .question__box.active .content {
      height: 190px;
    }
  }
  
  @media (width < 600px) {
  
    .question__box.active .content {
      height: 200px;
    }
  }
  




/*******************************/
/********* Footer CSS **********/
/*******************************/
.footer {
    position: relative;
    margin-top: 45px;
    padding-top: 90px;
    background: #023047;
    color: #ffffff;
}

.footer .footer-contact,
.footer .footer-link,
.footer .newsletter {
    position: relative;
    margin-bottom: 45px;
}

.footer h2 {
    position: relative;
    margin-bottom: 20px;
    padding-bottom: 10px;
    font-size: 20px;
    font-weight: 600;
    color: var(--bs-secondary);
}

.footer h2::after {
    position: absolute;
    content: "";
    width: 60px;
    height: 2px;
    left: 0;
    bottom: 0;
    background: var(--bs-secondary);
}

.footer .footer-link a {
    display: block;
    margin-bottom: 10px;
    color: #ffffff;
    transition: .3s;
}

.footer .footer-link a::before {
    position: relative;
    content: "\f105";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    margin-right: 10px;
}

.footer .footer-link a:hover {
    color: var(--bs-secondary);
    letter-spacing: 1px;
}

.footer .footer-contact p i {
    width: 25px;
}

.footer .footer-social {
    position: relative;
    margin-top: 20px;
}

.footer .footer-social a {
    display: inline-block;
    width: 40px;
    height: 40px;
    padding: 7px 0;
    text-align: center;
    border: 1px solid rgba(256, 256, 256, .3);
    border-radius: 60px;
    transition: .3s;
}

.footer .footer-social a i {
    font-size: 15px;
    color: #ffffff;
}

.footer .footer-social a:hover {
    background: var(--bs-secondary);
    border-color: var(--bs-secondary);
}

.footer .footer-social a:hover i {
    color: #030f27;
}

.footer .newsletter .form {
    position: relative;
    max-width: 400px;
    margin: 0 auto;
}

.footer .newsletter input {
    height: 50px;
    border: 2px solid #121518;
    border-radius: 0;
}

.footer .newsletter .btn {
    position: absolute;
    top: 5px;
    right: 5px;
    height: 40px;
    padding: 8px 10px;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    color: var(--bs-secondary);
    background: #121518;
    border-radius: 0;
    border: 2px solid var(--bs-secondary);
    transition: .3s;
}

.footer .newsletter .btn:hover {
    color: #121518;
    background: var(--primary);
}

.footer .footer-menu .f-menu {
    position: relative;
    padding: 15px 0;
    font-size: 0;
    text-align: center;
    border-top: 1px solid rgba(256, 256, 256, .1);
    border-bottom: 1px solid rgba(256, 256, 256, .1);
}

.footer .footer-menu .f-menu a {
    color: #ffffff;
    font-size: 16px;
    margin-right: 15px;
    padding-right: 15px;
    border-right: 1px solid rgba(255, 255, 255, .1);
}

.footer .footer-menu .f-menu a:hover {
    color: var(--bs-secondary);
}

.footer .footer-menu .f-menu a:last-child {
    margin-right: 0;
    padding-right: 0;
    border-right: none;
}


.footer .copyright {
    padding: 30px 15px;
}

.footer .copyright p {
    margin: 0;
    color: #ffffff;
}

.footer .copyright .col-md-6:last-child p {
    text-align: right;
}

.footer .copyright p a {
    color: var(--bs-secondary);
    font-weight: 500;
    letter-spacing: 1px;
}

.footer .copyright p a:hover {
    color: #ffffff;
}

@media (max-width: 768px) {
    .footer .copyright p,
    .footer .copyright .col-md-6:last-child p {
        margin: 5px 0;
        text-align: center;
    }
}















/*** Service Start ***/
.service .service-item {
    box-shadow: 0 0 45px rgba(0, 0, 0, .2) ;
}

.service .service-item .service-img {
    position: relative;
    overflow: hidden;
    z-index: 1;
}

.service .service-item .service-img img {
    transition: 0.5s;
}

.service .service-item .service-img::before {
    width: 100%;
    height: 0;
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    transition: 0.5s;
    z-index: 5;
    
}

.service .service-item:hover .service-img::before {
    height: 100%;
    background: rgba(21, 185, 217, .3);
}

.service .service-item .service-img:hover img {
    transform: scale(1.3);
}

.service .service-item .service-content {
    position: relative;
    z-index: 2;

}

.service .service-item .service-content::before {
    width: 100%;
    height: 8px;
    position: absolute;
    content: "";
    bottom: 0;
    left: 0;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background: rgba(21, 185, 217, .5);
    transition: 0.5s;
    z-index: 3;
}

.service .service-item:hover .service-content::before {
    background: rgba(21, 185, 217, .5);
    height: 100%;
}

.service .service-item .service-content .service-content-inner {
    transition: 0.5s;
}


.service .service-item:hover .service-content .service-content-inner {
    position: relative;
    color: var(--bs-white) !important;
    z-index: 9;
}
.service .service-item:hover .service-content .service-content-inner h5 {
    color: var(--bs-secondary);
}

/*** Service End ***/








/*------ Admission Form --------*/
.apply_box {
    max-width: 600px;
    padding: 20px;
    background-color: #eee;
    box-shadow: 4px 3px 5px rgba(1, 1, 1, 0.1);
    margin: 0 auto;
    margin-top: 9x;
   
    border-radius: 10px;
}
  
.title_small {
    font-size: 20px;
}
  
.form_container {
    margin-top: 10px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
}
.form_control {
    display: flex;
    flex-direction: column;
}
  
label {
    font-size: 15px;
    margin-bottom: 5px;
}
  
input,
select,
textarea {
    padding: 6px 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 15px;
}
  
input:focus {
    outline-color: #0d6efd;
}
  
.button_container {
    display: flex;
  
    justify-content: flex-end;
    margin-top: 20px;
}
button {
    background-color: #023047;
    border: transparent solid 2px;
    padding: 5px 10px;
    color: white;
    border-radius: 8px;
    transition: 0.3s ease-in;
}
button:hover {
    background-color: #0d6efd;
    border: 2px solid #0d6efd;
    color: var(--white);
    transition: 0.3s ease-out;
    cursor: pointer;
}
.textarea_control {
    grid-column: 1 / span 2;
}
.textarea_control textarea {
    width: 100%;
}
  
@media (max-width: 460px) {
    .textarea_control {
      grid-column: 1 / span 1;
    }
} ;

/*------ Admission Form --------*/






